@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary-color: rgb(24, 119, 241);
  --gray: rgb(239, 241, 244);
  --secondary-color: rgb(158, 208, 255);
}
html {
  overflow-x: hidden;
}

input:focus {
  outline: none !important;
}

textarea:focus {
  outline: none !important;
}

li {
  list-style: none;
}